@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grad-bg: #eee6dd;
  --main-bg: #f0b46f;
  --dot-spacing: 30px;
  --dot-size: 2px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --grad-bg: #161122;
    --main-bg: #a799cc;
    --dot-size: 1px;
  }
}
body {
  background: linear-gradient(
      90deg,
      var(--grad-bg) var(--dot-spacing),
      transparent 1%
    ),
    linear-gradient(0deg, var(--grad-bg) var(--dot-spacing), transparent 1%);
  background-position: center;
  background-color: var(--main-bg);
  background-size: calc(var(--dot-spacing) + var(--dot-size))
    calc(var(--dot-spacing) + var(--dot-size));
  background-attachment: fixed;
  transition: all;
}

.something-whale {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐋</text></svg>")
      16 0,
    auto;
  text-decoration: underline wavy currentColor;
}
.something-whale::before {
  content: "🐋 ";
}
.something-whale:hover::before {
  content: "🐳 ";
}
